<footer class="footer" id="contacto">
  <div class="footer-content">

    <div class="footer-header">
      <!-- Columna izquierda: solo título y redes -->
      <div class="footer-text">
        <h2 class="footer-title">UNiTEC</h2>

        <div class="footer-socials">
          <a href="https://www.facebook.com/uidet.unitec/?locale=es_LA" target="_blank" aria-label="Facebook UNiTEC">
            <img src="assets/img/facebook.png" alt="Facebook" />
          </a>
          <a href="https://instagram.com" target="_blank" aria-label="Instagram UNiTEC">
            <img src="assets/img/instagram.png" alt="Instagram" />
          </a>
        </div>
      </div>

      <!-- Columna derecha: logos institucionales -->
      <div class="footer-logos">
        <img src="assets/logos/Electro-ing.png" alt="Logo UNLP" class="unlp-logo" />
      </div>
    </div>

    <hr class="footer-divider" />

    <div class="footer-bottom">
      <div class="footer-info">
        <p><strong>Contacto</strong></p>
        <p>
          <i class="fa-regular fa-envelope"></i>
          <a href="mailto:unitec&#64;ing.unlp.edu.ar">unitec&#64;ing.unlp.edu.ar</a> - <a href="mailto:uniteconline&#64;gmail.com">uniteconline&#64;gmail.com</a>
  
        </p>
        <p>
          <i class="fa-solid fa-phone"></i>
          (+54) (221) 425-8911  (int. 3508)
        </p>
        <p>
          <i class="fa-solid fa-location-dot"></i>
          Calle 48 y 116, La Plata, Buenos Aires, Argentina
          <br>
          <a href="https://maps.app.goo.gl/Gx7yaSd9jp8eyt9k7" target="_blank">📍 Ver ubicación </a>
        </p>
      </div>
    </div>



    <p class="footer-copy">Copyright 2025 © UNiTEC. Todos los derechos reservados.</p>

  </div>
</footer>