<header class="navbar" role="banner">
  <div class="navbar-bg"></div>

  <div class="navbar-container">
    <!-- SIEMPRE visible -->
    <div class="logo-container">
      <a href="#inicio">
        <img src="assets/logos/logo-unitec1.png" alt="Logo Unitec" />
      </a>
      <div class="logo-text">
        <h2>UNiTEC</h2>
        <p>
          Unidad de Investigación, Desarrollo, Extensión y Transferencia para la Calidad de la
          Educación en Ingeniería con orientación al uso de TIC
        </p>
      </div>
    </div>
    
    <div id="header-sidebar" class="institutional-logos">
      <div class="logo-split-container">
        <a href="https://www.ing.unlp.edu.ar/" target="_blank" class="logo-half left-half"></a>
        <a href="https://unlp.edu.ar" target="_blank" class="logo-half right-half"></a>
        <img src="assets/logos/logo-copia1.png" alt="Facultad de Ingeniería UNLP" />
        
      </div>
    </div>
    

  </div>

</header>
