<section class="lab-hero">
  <div class="lab-hero-content">
    <img [src]="lab.logo" alt="Logo {{ lab.nombre }}" class="lab-hero-logo" />
    <div>
      <h1>{{ lab.nombre }}</h1>
      <p>{{ lab.descripcion }}</p>
    </div>
  </div>
</section>

<section class="lab-content-grid">
  <div class="lab-info-card">
    <h2>¿Qué hacemos?</h2>
    <p>{{ lab.queHacemos }}</p>

    <h3>Objetivo principal</h3>
    <p>{{ lab.objetivo }}</p>
  </div>

  <div class="lab-members-card">
    <h2>Equipo</h2>

    <div class="lab-group">
      <h4>Supervisores</h4>
      <ul>
        <li *ngFor="let supervisor of lab.supervisores">{{ supervisor }}</li>
      </ul>
    </div>

    <div class="lab-group">
      <h4>Colaboradores</h4>
      <ul>
        <li *ngFor="let colaborador of lab.colaboradores">{{ colaborador }}</li>
      </ul>
    </div>

     <br>
     
    <!-- CONTACTO -->
    <div class="lab-group">
      <h5>Contacto</h5>
      <ul class="lab-contact-list">
        <a href="mailto:LabTIC.UNITEC&#64;gmail.com">LabTIC.UNITEC&#64;gmail.com </a>
      </ul>
    </div>
    
  </div>
</section>

<app-sectores [galeria]="galeriaLabtic"></app-sectores>

