<section class="lab-banner">
  <h1>LABTIC</h1>
  <p>Laboratorio de Tecnologías de la Información y la Comunicación</p>
</section>

<section class="lab-profile-section">
  <div class="lab-left">
    <img src="assets/logos/logo-labtic.jpg" alt="Logo LABTIC" class="lab-logo" />

    <div class="lab-names">
      <h3>Integrantes</h3>

      <h4>Supervisores</h4>
      <p>Ing. Marcelo Fernández</p>
      <p>Lic. José Alberto Ferreyra</p>

      <h4>Colaboradores</h4>
      <p>Juan Marcos Malanga</p>
      <p>Simón López</p>
      <p>Valentín Atanasof</p>
    </div>
  </div>

  <div class="vertical-divider"></div>

  <div class="lab-right">
    <h2>¿Qué hacemos?</h2>
    <p>
      Nos enfocamos en la adaptación de computadoras reacondicionadas por el laboratorio LATE,
      incorporando software diseñado especialmente por nuestro equipo o herramientas asistivas como
      lectores de pantalla, teclados virtuales, magnificadores, sintetizadores de voz, mouses ópticos y
      otros recursos que facilitan la accesibilidad.
    </p>

    <h3>Objetivo principal</h3>
    <p>
      Promover la inclusión digital mediante la adecuación tecnológica de equipos, brindando soluciones
      personalizadas que permiten a más personas acceder y utilizar dispositivos informáticos de manera
      autónoma.
    </p>
  </div>
</section>