<section class="lab-banner">
  <h1>Adaptaciones Inclusivas en 3D</h1>
  <p>Diseño y fabricación de soluciones accesibles mediante impresión 3D</p>
</section>

<section class="lab-profile-section">
  <div class="lab-left">
    <img src="assets/logos/logo-tecnicas3d.jpg" alt="Logo Impresión 3D" class="lab-logo" />

    <div class="lab-names">
      <h3>Integrantes</h3>

      <h4>Supervisores</h4>
      <p>Francisco Bustos</p>

      <h4>Colaboradores</h4>
      <p>Luciano Macías</p>
      <p>Gustavo Mamani</p>
      <p>Víctor Palomar</p>
      <p>Tomás Naranjo</p>
    </div>
  </div>

  <div class="vertical-divider"></div>

  <div class="lab-right">
    <h2>¿Qué hacemos?</h2>
    <p>
      Este espacio de extensión está dedicado al diseño y fabricación de soluciones accesibles utilizando
      impresión 3D. Se realizan piezas de repuesto para impresoras, adaptaciones como switches accesibles
      y otros dispositivos solicitados por distintos laboratorios.
    </p>

    <h3>Objetivo principal</h3>
    <p>
      Brindar soporte técnico y creativo mediante tecnologías de fabricación digital, promoviendo la
      inclusión y respondiendo a las necesidades de otros espacios de extensión a través del desarrollo
      de piezas personalizadas impresas en 3D.
    </p>
  </div>
</section>