<section class="lab-banner">
  <h1>EDETEC</h1>
  <p>Laboratorio de Energía y Desarrollo Tecnológico</p> 
</section>

<section class="lab-profile-section">
  <div class="lab-left">
    <img src="assets/logos/logo-edetec.jpg" alt="Logo EDETEC" class="lab-logo" />

    <div class="lab-names">
      <h3>Integrantes</h3>

      <h4>Supervisor</h4>
      <p>Felipe Simonetti</p>

      <h4>Colaboradores</h4>
      <p>Francisco Navarro</p>
      <p>Bruno Benítez</p>
    </div>
  </div>

  <div class="vertical-divider"></div>

  <div class="lab-right">
    <h2>¿Qué hacemos?</h2>
    <p>
      Nos especializamos en el desarrollo de rampas tecnológicas que promuevan la accesibilidad y la inclusión de personas con discapacidad (PcD), brindando soluciones concretas para facilitar su participación en diferentes ámbitos.
    </p>

    <h3>Objetivo principal</h3>
    <p>
      Crear y adaptar dispositivos tecnológicos como teclados y mouses especiales, juguetes accesibles, comunicadores pictográficos, interruptores de impacto, entre otros, respondiendo a las necesidades específicas de cada persona o institución.
    </p>
  </div>
</section>
