<section class="lab-banner">
  <h1>{{ lab.nombre }}</h1>
  <p>{{ lab.descripcion }}</p>
</section>

<section class="lab-profile-section">
  <div class="lab-left">
    <img [src]="lab.logo" alt="Logo {{ lab.nombre }}" class="lab-logo" />

    <div class="lab-names">
      <h3>Integrantes</h3>

      <h4>Supervisores</h4>
      <p *ngFor="let supervisor of lab.supervisores">{{ supervisor }}</p>

      <h4>Colaboradores</h4>
      <p *ngFor="let colaborador of lab.colaboradores">{{ colaborador }}</p>
    </div>
  </div>

  <div class="vertical-divider"></div>

  <div class="lab-right">
    <h2>¿Qué hacemos?</h2>
    <p>{{ lab.queHacemos }}</p>

    <h3>Objetivo principal</h3>
    <p>{{ lab.objetivo }}</p>
  </div>
</section>

<app-sectores [galeria]="galeriaEdetec"></app-sectores>
