<section class="lab-banner">
  <h1>INFOTEC</h1>
  <p>Innovación y desarrollo en tecnologías de la información</p>
</section>

<section class="lab-profile-section">
  <div class="lab-left">
    <img src="assets/logos/logo-infotec.jpg" alt="Logo INFOTEC" class="lab-logo" />

    <div class="lab-names">
      <h3>Integrantes</h3>

      <h4>Supervisores</h4>
      <p>Camilo Di Paolo</p>
      <p>Joaquín Fontana</p>

      <h4>Colaboradores</h4>
      <p>Jenaro Luciano Cecacci Porrez</p>
      <p>Amílcar Catriel Paz</p>
    </div>
  </div>

  <div class="vertical-divider"></div>

  <div class="lab-right">
    <h2>¿Qué hacemos?</h2>
    <p>
      INFOTEC es un espacio de extensión de UNiTEC dedicado a la investigación, desarrollo e implementación
      de soluciones tecnológicas en el ámbito del software, redes y sistemas inteligentes. Está orientado
      principalmente a la enseñanza de desarrollo web con tecnologías como HTML, CSS, JavaScript y nociones
      básicas de bases de datos.
    </p>

    <h3>Objetivo principal</h3>
    <p>
      Brindar a los estudiantes sus primeros conocimientos en el mundo del desarrollo web, fomentando
      habilidades prácticas desde un nivel inicial. Además, buscamos prepararlos para su futura formación
      universitaria en carreras vinculadas a sistemas y tecnologías de la información.
    </p>
  </div>
</section>