<section class="noticias" id="noticias">
  <div class="noticias-container">
    <h2 class="h2">Novedades</h2>
    <div class="lab-grid">
      <div *ngFor="let noticia of noticias" class="noticia-card">
        <h3 class="titulo-noticia">{{ noticia.titulo }}</h3>

        <img [src]="noticia.imagenUrl" alt="Imagen de la noticia" />

        <div class="contenido">
          <p class="info-noticia">
            <span class="noticia-fecha">{{ noticia.fecha | date: 'd MMM y' }}</span>
            &nbsp;|&nbsp;
            <span class="noticia-resumen">{{ noticia.resumen }}</span>
          </p>

          <!-- Botón para ir al detalle -->
          <div class="btn-container" *ngIf="noticia.contenido || noticia.fotos?.length">
            <a [routerLink]="['/noticias', noticia.id]">
              <button class="btn-ver-mas">Ver más</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
