<div class="home-container" id="inicio">
  <!-- Sección HERO -->
  <app-banner></app-banner>

  <!-- Sección Nuestro objetivo -->
  <section id="nosotros" class="info">
    <div class="card">
      <div class="card-content">
        <h2>Nuestro objetivo</h2>
        <p>
          En la <span class="resaltado-unitec">UIDET UNITEC</span> nos mueve una misión clara y poderosa: desarrollar adaptaciones tecnológicas 
          innovadoras —tanto en Hardware como en Software— que transformen la calidad de vida de Personas 
          con Discapacidad (PcD).
          <br>
          Como unidad dedicada a la Extensión Universitaria, llevamos adelante proyectos con impacto real, 
          donde la tecnología y la inclusión se encuentran para construir un futuro más accesible.
          <br>
          Creemos en una ingeniería al servicio de las personas. Por eso, cada desarrollo que realizamos 
          está pensado para generar autonomía, igualdad y nuevas oportunidades.
        </p>
      </div>
    </div>
  </section>

  <!-- Sección Sectores UNiTEC -->
  <section id="sectores" class="laboratorios">
    <div class="card2">
      <h2>Espacios de UNiTEC</h2>
      <p>Contamos con 7 espacios de extensión separados conforme las distintas actividades que se realizan.</p>
      <div class="lab-grid">
        <a routerLink="/edetec" class="lab-card">
          <div class="lab-image-container">
            <img src="assets/logos/logo-edetec.jpg" alt="EDETEC" />
          </div>
          <span>EDETEC</span>
        </a>
        <a routerLink="/infotec" class="lab-card">
          <div class="lab-image-container">
            <img src="assets/logos/logo-infotec.jpg" alt="INFOTEC" />
          </div>
          <span>InfoTEC</span>
        </a>
        <a routerLink="/arduino" class="lab-card">
          <div class="lab-image-container">
            <img src="assets/logos/logo-arduino.jpg" alt="ARDUINO" />
          </div>
          <span>ARDUINO</span>
        </a>
        <a routerLink="/adaptaciones" class="lab-card">
          <div class="lab-image-container">
            <img src="assets/logos/logo-tecnicas3d.jpg" alt="Adaptaciones 3D" />
          </div>
          <span>Técnicas 3D</span>
        </a>
        <a routerLink="/late" class="lab-card">
          <div class="lab-image-container">
            <img src="assets/logos/logo-late.jpg" alt="LATE" />
          </div>
          <span>LATE</span>
        </a>
        <a routerLink="/mecatronica" class="lab-card">
          <div class="lab-image-container">
            <img src="assets/logos/logo-mecatronica.jpg" alt="Mecatrónica" />
          </div>
          <span>MECATRONICA</span>
        </a>
         <a routerLink="/labtic" class="lab-card">
          <div class="lab-image-container">
            <img src="assets/logos/logo-labtic.jpg" alt="LabTIC" />
          </div>
          <span>LabTIC</span>
        </a>
      </div>
    </div>
  </section>

  <!-- Sección Noticias -->
  <app-laboratorio></app-laboratorio>
</div>