/* Estilos base */
.home-container {
  max-width: 1200px;
  margin: auto;
}

/* Card informativa */
.info {
  margin-top: 3rem;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  background: #ecf5ff;
  border-left: 5px solid #3498db;
  margin-bottom: 25px;
}

.card2 {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-top: 40px;
}

.card-content h2 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
}

.card-content p {
  margin-top: 0.5rem;
  color: #333;
  font-size: 1rem;
  line-height: 1.6;
}

/* Sección laboratorios */
.laboratorios {
  background-color: #f7f7f7;
}

.laboratorios h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.laboratorios p {
  text-align: center;
  margin-bottom: 5rem;
  color: #555;
  margin-left: auto;
  margin-right: auto;
}

.laboratorios-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}

.laboratorio-card {
  position: relative;
  width: 330px;
  height: 115px;
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
  background-color: #a7a7a7;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
}

.fondo-imagen {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.fondo-imagen::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(52 91 91 / 53%);
  mix-blend-mode: multiply;
}



@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.laboratorio-card:not(.vacia):hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Estado hover */
.laboratorio-card:hover,
.laboratorio-card.selected {
  transform: scale(1.03);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.laboratorio-card .fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.laboratorio-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 11px;
  width: 100%;
  left: 0;
  border-radius: 0 0 15px 15px;
}

.laboratorio-card:hover,
.laboratorio-card.selected {
  filter: brightness(1.1);
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Contenido con logo y nombre */
.contenido-nombre-logo {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
}

.contenido-nombre-logo.solo-nombre, .contenido-nombre-logo.solo-logo {
  justify-content: center;
}

.nombre-lab {
  color: #ffffff;
  font-size: 20px;
}

.logo {
  width: 80px;
  height: auto;
}

/* Tarjetas vacías */
.laboratorio-card.vacia {
  position: relative;
  pointer-events: none;
  cursor: default;
  filter: grayscale(100%) brightness(1.1);
  opacity: 0.8;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d6d6;
}

.laboratorio-card.vacia .unitec-contenido {
  position: absolute;
  z-index: 2;
  display: flex;
  gap: 0.5rem;
  text-align: center;
  font-weight: bold;
  color: #0e2c4c;
  font-size: 1.1rem;
  flex-direction: row;
}

.laboratorio-card.vacia .logo {
  max-width: 60px;
  max-height: 60px;
}

@media (max-width: 600px) {
  .laboratorios-grid {
    grid-template-columns: 1fr;
  }

  .laboratorio-card {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .contenido-nombre-logo {
    padding: 0.5rem;
  }

  .nombre-lab {
    font-size: 18px;
  }

  .logo {
    width: 80px;
  }
}