<div *ngIf="noticia" class="detalle-noticia">
  <article class="noticia-contenido">
    <h2 class="titulo">{{ noticia.titulo }}</h2>
    <p class="fecha">{{ noticia.fecha | date: 'd MMMM y' }}</p>

    <section class="texto-principal">
      <p>{{ noticia.contenido }}</p>
    </section>
    
    <!-- Carrusel de fotos -->
   <section class="carrusel-container" *ngIf="todasLasFotos.length > 0">
      <button class="carrusel-btn prev" *ngIf="todasLasFotos.length > 1" (click)="anterior()">❮</button>

      <div class="carrusel-viewport">
       <img *ngIf="todasLasFotos[fotoActual]" [src]="todasLasFotos[fotoActual]" alt="Imagen de noticia" />

      </div>

      <button class="carrusel-btn next" *ngIf="todasLasFotos.length > 1" (click)="siguiente()">❯</button>
    </section>

  </article>
</div>
