.wrap-3d {
    width: 100%;
    margin: 0px auto;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;

}

.frame-3d {
    width: 100%;
    border: none;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    height: 1000px;
}
